{% extends 'budget/base.html' %}
{% block content %}
<center>
 <h1 style="margin-top: 20vh;">Welcome back.</h1>
    <div class="container bg-white text-dark rounded" style="padding-top: 2vh; padding-bottom: 2vh; width: 40vw;">
        <h3>Please Login.</h3>
        <hr style="width:30vw;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ form }}
            </fieldset>
            <br/>
            <div class="form-group">
                 <button type="submit" class="btn btn-outline-blue" style="width: 10vw;">Login</button>
            </div>
        </form>
                        <small class="text-muted">
                Need an Account? <a href="{% url 'register' %}" class="ml-2">Sign Up Now</a>
            </small>
    </div>

</center>

{% endblock %}
