{% extends 'budget/base.html' %}
{% block content %}

{% if user.is_authenticated %}
<div class="container text-dark" style="background: #E7ECEF;">
    <center><h1 class="bold" style="padding-top: 15px; padding-bottom: 15px;">{{ user.username }}'s Projects</h1>
        <a href="add" class="btn btn-lg text-white btn-block" style="background: #2F6690; width: 45vw;">Create New Project</a>
    </center>

    <div class="row" style="padding-top: 2vh;">
    {% for project in project_list  %}

        <div class="col-sm-6">
            <center>
            <div class="card" style="background: transparent; border-color: transparent;">
                <div class="card-body">
                <h5 class="card-title">{{ project.name  }}</h5>
                <span class="badge badge-success">${{project.budget}} Budget</span> <span class="badge badge-danger">${{project.budget_left}} Left</span> <span class="badge badge-warning">{{project.total_transactions}} Transactions</span>
                <a href="{% url 'detail' project.slug %}" class="btn text-white"  style="background: #2F6690; width: 25vw;">View</a>
            </div>
        </center>
        </div>
        
        {% empty %}

        <div class="noproject-wrapper center">
            <h3 class="text-muted">Sorry, you don't have any projects yet. </h3>
        </div>

    {% endfor %}
    </div>


</div>
{% else %}
<center>
        <h1 class="text-muted" style="margin-top: 20vh;">Welcome to Budget App</h1>
        <div class="containter rounded text-dark" style="padding-top: 2vh; padding-bottom: 2vh; width: 40vw; background: #E7ECEF;">
        <h3> Tracking your money, made easy.</h3>
        <hr style="width: 30vw;">
        <p>To use our web app you must either login or sign up with a new account.</p>

     <a class="btn btn-lg btn-block" style="background: #81C3D7; width: 25vw;" href="{% url 'login' %}" role="button">Login</a>
          <a class="btn btn-lg btn-secondary btn-block" style="width: 25vw;" href="{% url 'register' %}" role="button">Register</a>
        
        </center>
        </div>
    </div>


    
{% endif %}

{% endblock  %}
